store-ws-client/src/main/resources/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.sport-store.cz/orders"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="orders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="order" type="xs:string" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="quantity" type="xs:int" />
							<xs:element name="product-name" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

